{% load i18n %}{% load dashboard_url %}{% autoescape off %}
{% blocktrans %}
<p>Hello from {{ site_name }}!</p>

<p>You're receiving this e-mail because you have requested a password reset for your {{ site_name }} user account.
It can be safely ignored if you did not request a password reset.</p>
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
<a href="{% dashboard_url %}/reset?uid={{ uid }}&token={{ token }}">{{ dashboard_url }}/reset?uid={{ uid }}&token={{ token }}</a>
{% endblock %}
{% blocktrans %}
<p>Thanks for using {{ site_name }}!</p>
{% endblocktrans %}{% endautoescape %}
