{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% autoescape off %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<p>Hi,</p>

<p>Thanks for trying out {{ site_name }}! We’re excited to help you give feedback and ship products faster.</p>

<p>Some next steps to set your team up for success with {{ site_name }}:</p>

<ol>
<li>Be sure to install the widget on the <code>&lt;body&gt;</code> section of your web pages.</li>
<li>Invite members of your team to the dashboard so they can get collaborating.</li>
</ol>

<p>If you need anything else, don’t hesitate to respond to this email.</p>

<p>Thanks,</p>

<p>{{ site_name }} Team</p>

-------------

<p>How to Install Widget: <a href="https://collabsauce.tawk.help/article/how-to-install-the-widget">https://collabsauce.tawk.help/article/how-to-install-the-widget</a></p>

<p>Inviting Team Members: <a href="https://collabsauce.tawk.help/article/how-to-invite-team-members-in-the-dashboard">https://collabsauce.tawk.help/article/how-to-invite-team-members-in-the-dashboard</a></p>
{% endblocktrans %}
{% endautoescape %}
